.App{
  display: flex;
  text-align: center;
  width: 100%;
  height:100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error{
  font-size: 150%;
  color: red;
}

.hidden{
  display: none;
}